#spl{
    padding-left: 150px;
}
 /* #image{
    width: 50px;
    height: 50px;
    padding-left: 150px;
    padding-right: 200px;
    padding-bottom: 50px; 
} */
#spl1{
    padding-left: 20px;
}
#spl2{
   padding-left: 600px;
}
#spl3{
    padding-left: 150px;
}